.dashboard {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: soft-light;
}

.dashboard h1 {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
}

.dashboard .subtitle {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 2rem;
  font-weight: 400;
}

.logout-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.widget {
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.widget:hover {
  transform: translateY(-5px);
}

.difficulty-meter {
  grid-column: 2 / span 2;
  grid-row: 1;
  height: max-content;
  max-height: 500px;
  overflow-y: auto;
  margin-bottom: -1.5rem;
}

.course-schedule {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

.requirements {
  grid-column: 2 / span 2;
  grid-row: 2;
  margin-top: -3rem;
}

.todo-list {
  grid-column: 1 / span 2;
  max-height: 450px;
}

/* .calendar {
  grid-column: 2 / span 2;
  max-height: 450px;
} */

.study-rooms {
  grid-column: span 3;
}

.widget.study-timer {
  grid-column: 3;
  display: flex;
  flex-direction: column;
}


/* course sched */
.widget-header h2 {
  margin: 0;
  transition: color 0.2s ease;
}

.widget-header:hover h2 {
  color: #4CAF50;
}

@media (max-width: 1024px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .course-schedule,
  .difficulty-meter,
  .requirements,
  .todo-list,
  .calendar,
  .study-rooms {
    grid-column: span 2;
    margin: 0;
  }

  .course-schedule {
    grid-row: auto;
  }

  .difficulty-meter {
    max-height: none;
  }
}

@media (max-width: 768px) {
  .dashboard-grid {
    grid-template-columns: 1fr;
  }
  
  .widget {
    grid-column: span 1;
  }
}